<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node Sample App</title>
	<script src="https://cdn.auth0.com/js/lock-8.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<button id="btn-login" class="btn-login">Sign In</button>
    <div class="jumbotron">
        <h1>Vytas is Awesome!</h1>
        <p>This is the sample of a tutorial on <a href="https://scotch.io">scotch.io</a></p>
        <a href="https://scotch.io/tutorials/" class="btn btn-primary btn-lg">View the Tutorial</a>
    </div>
</div>
    
</body>
</html>